!!!5
html
	head
		title #{title}
		link(rel='stylesheet' href='/css/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js')
		script(src='/js/script.js')
	body
		#header
			#logo
				h1
					a(href='/') APIDocs
			#menu-container
				#login-container
					if !user
						form(action='/login' method='post')
							input(type='email' placeholder='email' name='username')
							input(type='password' placeholder='password' name='password')
							input(type='submit' value='Log In')
					else
						form(action='/logout' method='post')
							label #{user.username}
							a(href='/upload')
								input(type='button' value='Upload')
							input(type='submit' value='Logout')
				#search-container
					form(action='/search' method='get')
						input(type='text' placeholder='search' name='search')
						input(type='submit' value='Search')
		.container
			#nav-menu
				.unit
					h4 Browse APIs
			#main-content
				block content
		#footer
			.container
				p APIDocs https://github.com/jslone/apidocs
