!!!5
html
	head
		title #{title}
		link(rel='stylesheet' href='css/style.css')
	body
		header
			logo
				h1
					a(href='/') APIDocs
			search-container
				input(type='text' name='search')
				input(type='button' onclick='search();')
		.container
			nav-menu
			main-content
				block content
		footer
			.container
				p APIDocs https://github.com/jslone/apidocs
