!!!5
html
	head
		title #{title}
		link(rel='stylesheet' href='/css/style.css')
	body
		#header
			#logo
				h1
					a(href='/') APIDocs
			#menu-container
				#login-container
					if !user
						form(action='/login' method='post')
						input(type='email' placeholder='email' name='username')
						input(type='password' placeholder='password' name='password')
						input(type='submit' value='Log In')
					else
						#{user.username}
				#search-container
					form(action='/search' method='get')
						input(type='text' placeholder='search' name='search')
						input(type='submit' value='Search')
		.container
			#nav-menu
			#main-content
				block content
		#footer
			.container
				p APIDocs https://github.com/jslone/apidocs
