extend layout
block content
	.unit
		form(action='/upload' enctype="multipart/form-data" method='post')
			input(type='file' name='api' value='File to Upload')
			br
			input(type='submit' value='Upload')
