@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,800");
body{font-family:'Arial';background-color:#fff;color:#000;margin:0}
a:link,a:visited,a:hover,a:active{color:inherit;text-decoration:none}
#header{font-family:'Open Sans';width:100%;background-color:#000;color:#fff;overflow:hidden}
#logo{margin-left:2em;float:left}
#search-container{margin-top:2em;margin-right:2em;float:right}
#nav-menu{background-color:#d8d8d8;width:200px;height:400px;float:left;-webkit-border-radius:5px;border-radius:5px}
#main-content{margin-left:220px}
#footer{position:absolute;bottom:0;width:100%;background-color:#d8d8d8;color:#000}
.container{max-width:1000px;margin-top:1em;margin-left:auto;margin-right:auto}
.unit{background-color:#d8d8d8;color:#000;-webkit-border-radius:5px;border-radius:5px;padding:2em;padding-top:1px;margin:1em}
.breadcrumbs{background-color:#d8d8d8;color:#000;-webkit-border-radius:5px;border-radius:5px;padding:2em;padding-top:1px;margin:1em;height:1em}
