@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,800');

/*global-reset()*/

foreground-color	= #909090
background-color	= #FFFFFF
accent-color		= #000000

body
	font-family 'Arial'
	background-color background-color
	color accent-color
	margin 0

a:link
a:visited
a:hover
a:active
	color inherit
	text-decoration none


header
	font-family 'Open Sans'
	width 100%
	background-color accent-color
	color background-color
	overflow hidden

logo
	margin-left 2em
	float left

search-container
	margin-top 2em
	margin-right 2em
	float right

nav-menu
	background-color foreground-color

main-content
	margin-left 200px

footer
	position absolute
	bottom 0
	width 100%
	background-color foreground-color
	color accent-color

.container
	max-width 1000px
	margin-left auto
	margin-right auto
